.france {
  display: flex;
}

.france div {
  height: 100%;
  width: 34%;
}

.france > .left {
  background-color: var(--blue-1);
}

.france > .middle {
  background-color: var(--white);
}

.france > .right {
  background-color: var(--red-2);
}