.country-container {
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.country {
  border: 1px solid var(--primary-color);
  width: 250px;
  height: 180px;
}

.country-title {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: var(--primary-color);
  text-align: center;
}