:root {
  --primary-color: #343A40;
  --secondary-color: #E9ECEF;
}

::selection {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
}

* {
  box-sizing: border-box;
}